@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cards {
  padding: 0;
  display: block;
  list-style-type: none;
}

.card {
  display: block;
}

.card-img {
  width: 50px;
  display: block;
  position: relative;
  margin-left: 7rem;

}

h2 {
  font-weight: normal;
  margin-top: 2em;
}

h2,
p {
  margin: 0;
  display: block;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline-block;
}

.card-body {
  margin-top: 1rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .card-body h2 {
    margin: 0 0 1.3rem;
    position: absolute;
  }

  .card-body p {
    margin: 0 0 1.3rem;
    position: absolute;
  }

  .card li {
    display: block;
  }

  .card-img img {
    position: relative;
  }

  .card-img,
  .card-body {
    display: inline-block;
    margin-left: 0;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h2,
  p {
    margin: 0 0 1.4rem;
  }

  .card {
    padding: 1rem;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h2,
  p {
    margin: 0 0 1.5rem;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }
}
